
body{
    text-align: left;
    justify-content: center;
}
.contain2{
    float: left;
} 
.nav-img{
    margin: 10px 30px 0px 0px;
}
.container{
    width: 100%;
   
    display: flex
}
.contain1{
    margin:     0px 0px 0px 0px;
    
    width: 60%;
}
.contain11{
    margin: 100px 0px 0px 300px;
    width: 50%;
}
.contain2{
    width: 40%;
}

.btn{
    position: relative;
    display: inline-flex;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    margin: 17px 20px;
    overflow: hidden;
    transition: all .4s;
  }
  .btn .inner{
    position: absolute;
    width: 300%;
    height: 100%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
  }
  .btn button{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .btn:hover{
    transform: scale(1.03);
  }
  .btn:hover .inner{
    left: 0;
  }
  .btn1 .inner{
    background: -webkit-linear-gradient(right, #00dbde,#fc00ff,#00dbde,#fc00ff);
  } 